body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../images/chicken-bg.svg);
    background-size: cover;
  }

.nav-wrapper, .page-footer {
  background-color: #7c0a02;
}

.form {
  background-color: blanchedalmond;
  margin-bottom: 5vh;
}

.form > label {
  color: white;
}

.form > td {
  background-color: white;
  color:black;
}

main {
    flex: 1 0 auto;
    color: white;
  }

.card-content {
  color: black;
}
  
footer.page-footer {
    padding-top: 0;
    text-align: right;
  }
  